@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navfont {
  font-family: var(--font-navmono);
  font-size: var(--text-xs); /* Sets the small UI text size */
  text-transform: uppercase;   /* Matches the uppercase style in the design */
  letter-spacing: var(--tracking-wider); /* Adds slight spacing typical of nav links */
}